div#trivia

	h4.center Correct answer was:
	h3.center #{data.answers[data.correct].text}
	
	- if(host){
	
	ul.mdc-list.mdc-list--two-line
	- for (var i = 0; i < players.length; i++){
	- if(data.correct == players[i].answer){
		li.mdc-list-item
			span.mdc-list-item__text #{players[i].name}
				span.mdc-list-item__text__secondary #{players[i].gameScore}
			span.mdc-list-item__end-detail +#{players[i].scoreTA}
		
	
	-} else {
		li.mdc-list-item
			span.mdc-list-item__text #{players[i].name}
				span.mdc-list-item__text__secondary #{players[i].gameScore}
			span.mdc-list-item__end-detail Wrong answer
			
	- }
	- }
	
	- }
	
	div#countdown-bar-bg
		div#countdown-bar
		p#countdown-text Waiting for players